// =============================================================================
// Root
// =============================================================================
.c-card {
	padding: 2rem;
	height: 100%;

	background-color: $white;
	color: $black;

	.c-link {
		color: $black;
	}
}

// =============================================================================
// Elements
// =============================================================================
.c-card__title {
	padding-bottom: 2rem;
}

.c-card__text {
	padding-bottom: 2rem;
}

// =============================================================================
// Modifiers
// =============================================================================
.c-card--black {
	background-color: $black;
	color: $white;

	.c-link {
		color: $white;
	}
}
