// =============================================================================
// Root
// =============================================================================
.c-link {
	position: relative;

	color: $black;

	&:hover {
		.c-link__text,
		.c-link__icon {
			color: #24228B;
			border-color: #24228B;
		}
	}
}

// =============================================================================
// Elements
// =============================================================================
.c-link__text {
	color: $black;

	padding-bottom: 0.3;
	border-bottom: 1px solid $black;
}

.c-link__icon svg path {
	fill: $black;
}

// =============================================================================
// Modifiers
// =============================================================================
.c-link--white {
	.c-link__text {
		color: $white;

		border-bottom: 1px solid $white;
	}

	.c-link__icon svg path {
		fill: $white;
	}
}
