// =============================================================================
// Root
// =============================================================================

// =============================================================================
// Elements
// =============================================================================
.c-quote {
	padding: 2rem;

	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	display: none;

	@include respond-at("viewport-9") {
		display: block;
	}
}
