// =============================================================================
// Border width
// =============================================================================
$border-width-base: 0.1rem;

// =============================================================================
// Border radius
// =============================================================================
$border-radius-base: 0.4rem;
$border-radius-round: 50%;

// =============================================================================
// Border
// =============================================================================
// $border-base: ;
