// =============================================================================
// Variables
// =============================================================================

/**
 * The main definition of each color, named after it hue and lightness value. DO
 * NOT use these colors outside this file. These are used to define the
 * $lmr-sass-colors.
 */
$white: #FFFFFF;
$light-grey: #DBDBDB;
$medium-grey: #74747B;
$black: #333333;
$navy: #24228B;
$rust: #DB5A42;
$nude: #FFEBE0;
