// =============================================================================
// Root
// =============================================================================
.l-section {
	margin: 4rem 0;

	@include respond-at("viewport-9") {
		margin: 8rem 0;
	}
}

// =============================================================================
// Element
// =============================================================================
.l-section__title {
	margin-bottom: 2rem;
}

// =============================================================================
// Modifiers
// =============================================================================
.l-section--small {
	margin: 4rem 0;

	@include respond-at("viewport-9") {
		margin: 4rem 0;
	}
}

.l-section--big {
	margin: 8rem 0;

	@include respond-at("viewport-9") {
		margin: 16rem 0;
	}
}
