<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" id="html">

	{% include '/_base/head'%}

	<body id="body" class="">

		{# Main #}
		<main>
			{% block content %}

			{% endblock %}
		</main>

		{% include '/_base/foot'%}

	</body>
</html>
