<section class="l-section l-section--small">
	<div class="l-container:12/12 l-container--with-default-spacing">
		<div class="c-footer">
			<p> Code Till Dawn BV </p>

			<ul class="c-footer__list">
				

				<li>
					<Strong> IBAN </strong> BE77 7310 5449 1642
				</li>

				<li>
					<Strong> BTW </strong> BE 0797.085.028
				</li>
			</ul>
		</div>
	</div>
</section>
