<section class="l-section c-projects" id="projects">
	<div class="l-container:12/12 l-container--with-default-spacing">
		<div class="l-section__content">
			<div class="l-grid l-grid l-grid--with-default-spacing">
				<div class="l-grid__col:12/12">
					<h3 class="c-projects__title">
						Deelnemers aan het woord:
					</h3>
				</div>

				<div class="l-grid__col:12/12 l-grid__col:1/12@at:viewport-9">
				</div>

				<div class="l-grid__col:12/12 l-grid__col:3/12@at:viewport-9">
				</div>

				<div class="l-grid__col:12/12 l-grid__col:8/12@at:viewport-9 c-projects__overview" >
					<div class="l-grid l-grid--with-default-spacing">
						<div class="l-grid__col:12/12">
								{% include "/_components/project" with {
									title: "Laurence Decoster, leerkracht informatica & ICT-coördinator, EDUGO campus De Brug  ",
									text: "De sessie van Collin startte met een schop onder je gat, doordrenkt met humor en nieuwe inzichten. Ze gaf me vooral veel goesting om ermee aan de slag te gaan. Hij legt haarfijn uit waar AI kansen biedt, maar ook waar het kan ontsporen. Geen vaag verhaal, maar concrete handvaten en een scherpe blik op wat vandaag echt ontbreekt in het onderwijs. Voor mij was het geen informatiesessie, maar een opstap richting toekomst. Eentje die elke school zou moeten meenemen.",
								} %}
						</div>
					</div>
				</div>

				<div class="l-grid__col:1/12">
				</div>



				<div class="c-projects__black">
				</div>
			</div>
		</div>
	</div>
</section>
