{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set class = class ?? "" %}
{% set title = title ?? "" %}
{% set text = text ?? "" %}
{% set linkUrl = linkUrl ?? "" %}
{% set linkClass = linkClass ?? "" %}
{% set linkText = linkText ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-card {{class}}">
	<h3 class="c-card__title">
		{{ title }}
	</h3>

	<div class="c-card__text">
		{{ text|raw }}
	</div>

	{# {% if linkUrl %}
		{% include "/_components/link" with {
			text: linkText,
			url: linkUrl,
			classes: linkClass
		} %}
	{% endif %} #}
</div>

