{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set classes = classes ?? "" %}
{% set text = text ?? "" %}
{% set url = url ?? "" %}
{% set icon = icon ?? "" %}
{% set target = target ?? "_self" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{% if text %}
	<a
		class="c-link {{ classes }}"
		href="{{ url }}"
		target="{{ target }}"
	>
		<span class="c-link__text">
			{{ text }}
		</span>

		{% if icon %}
			<span class="c-link__icon">
				{% include "/_icons/" ~ icon ~".svg" %}
			</span>
		{% endif %}
	</a>
{% endif %}
