<section class="c-banner" id="banner">
	<div class="l-container:12/12">
		<div class="c-banner__content">
			<div class="c-banner__notification">
				<div class="c-banner__text">
					AI-workshops nu ook beschikbaar voor kleine teams en particulieren!
					<a href="#training" class="c-banner__link">Meer info</a>
				</div>

			</div>
		</div>
	</div>
</section>
