<header class="c-site-header ">
	<nav class="c-site-header__container l-container:12/12 l-container--with-default-spacing">
		<p class="c-site-header__nav-item">
			Collin Van der Vorst
		</p>

		<ul class="c-site-header__nav">
			<li class="c-site-header__nav-item">
				<a class="c-link c-site-header__nav-link is-active" href="#about">
					Over
				</a>
			</li>

			<li class="c-site-header__nav-item">
				<a class="c-link c-site-header__nav-link is-active" href="#skills">
					Skills
				</a>
			</li>

			<li class="c-site-header__nav-item">
				<a class="c-link c-site-header__nav-link is-active" href="#projects">
					Projecten
				</a>
			</li>

			<li class="c-site-header__nav-item">
				<a class="c-link c-site-header__nav-link is-active" href="#contact">
					Contact
				</a>
			</li>

		</ul>

	</nav>
</header>
